{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-css-order", "prettier-plugin-organize-imports"]
}
