.zui_hover-card_content {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(209, 213, 219, 0.7);
    border-bottom: 1px solid rgba(209, 213, 219, 0.7);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    color: rgb(75, 83, 97);
}
.zui_hover-card_content[data-side='top'] {
    animation-name: slideDownAndFade;
}
.zui_hover-card_content[data-side='right'] {
    animation-name: slideLeftAndFade;
}
.zui_hover-card_content[data-side='bottom'] {
    animation-name: slideUpAndFade;
}
.zui_hover-card_content[data-side='left'] {
    animation-name: slideRightAndFade;
}

.zui_hover-card_arrow {
    fill: white;
}

.zui_hover-card_trigger {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
}
.zui_hover-card_trigger:focus {
    box-shadow: 0 0 0 2px white;
}

@keyframes slideUpAndFade {
    0% {
        transform: translateY(2px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRightAndFade {
    0% {
        transform: translateX(-2px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDownAndFade {
    0% {
        transform: translateY(-2px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeftAndFade {
    0% {
        transform: translateX(2px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
